<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Best Environment</title>
</head>
<body>
  <h1>Best Environment</h1>
  
  <ul>
    <li>User: <%= user %></li>
    <li>Your Best Environment:</li>
    <ul>
      <li>Temperature: <%= bestEnv.temparature %></li>
      <li>Humidity: <%= bestEnv.humidity %></li>
      <li>Illuminance: <%= bestEnv.illuminance %></li>
    </ul>
  </ul>
</body>
</html>