<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Best Environment</title>
</head>
<body>
  <h1>Best Environment</h1>
  
  <ul>
    <li>Your Best Environment:</li>
    <ul>
      <li>Best Temperature: <%= data.temperature %></li>
      <li>Best Humidity: <%= data.humidity %></li>
      <li>Best Illuminance: <%= data.illuminance %></li>
    </ul>
  </ul>
  <button onclick="back()">뒤로 가기</button>
</body>
<script>
  function back() {
    window.location.href = "/user/" +'<%= data.id %>';
  }
</script>
</html>